* {
    bg-col:  #282A36;
    bg-col-transparent:  #282A36dd;
    bg-col-element:  #282A36df;
    bg-col-light: #50FA7B;
    border-col: #50FA7B;
    selected-col: #50FA7B;
    tab: #50FA7B;
    tab-selected: #282A36;
    fg-col: #F8F8F2;
    fg-col2: #282A36;
    blank: #282A36;
    blank-underline: #171925;
    button: #50FA7B;
    button-underline: #30D859;
    window: #252530;
    window-underline: #222227;

    width: 600;
}
